



h1{text-align:center; color:black;background-color:#3B7643;font-family:Papyrus, fantasy;border: 8px solid black;width:100%}
h2{font-family:Papyrus, fantasy}
body{color:#7B4850;background-color:#E3BE44;}
img{width=60%;align:left}
ul {
	color:black;
	display: flex;
	align-items: stretch;
	justify-content:space-between;
	width: 100%;
	font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
	font-size:1.2em;
	border: 8px solid black;}

a:hover, a:active{background-color: #3B7643;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

table{
	display:flex;
	align-items:stretch;
	justify-content:space-between;
	width:100%;
	font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif;
	font-size:1.2em;
	border: 8px solid black;}
